<!DOCTYPE html>
<html>
    <head>

        <meta charset="UTF-8">

        <title>{% block title %}Welcome!{% endblock %}</title>

        <link rel="stylesheet" href="/css/styles.css">
        

    </head>

    <body>

        {% block content %}{% endblock %}

    </body>
    
</html>
